.article {
  background: #fff;
  width: 700px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 3px;
}
.main-text {
  position: relative;
  font-size: 20px;
}

.name-article {
  position: relative;
}

.icon {
  position: absolute;
  top: 0;
  left: 690px;
}

.form {
  background: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 3px;
}
.footer {
  width: 740px;
  margin: 0 auto;
}
.footer > div{
  width: 700px;
}
.comments {
  
}
